<div ng-app="sample">
  <!-- creerGroupe = new FormGroup({-->
    <form [formGroup]="groupeForm" class="form-horizontal" (ngSubmit)="onFormSubmit()">
        
        <div class="form-group">
            
            <label class="col-md-3 control-label" for="Nom">Nom du groupe</label>
        
                <div class="col-md-4">
        
                        <input type='text' class="form-control" formControlName = "Name" />
       
                            <div ng-messages="creerGroupe.Nom.$error" ng-messages-include="erreurs.html"></div>
                            
                            </div>
        
                </div>

        
            <div class="form-group">
        
                <div class="col-md-offset-3 col-md-9">
        
                    <button type="submit" class="btn btn-primary"  >Créer</button>
           <div>
              {{groupMessage}}
           </div>

          
                </div>
        </div>
       <!-- <button type="submit" class="btn btn-primary" [disabled]="!creerGroupe.valid"> Créer le groupe </button> -->

    </form>
</div>
