<div class="container">

  <div class="row">

    <div class="col-sm"></div>

    <div class="col-sm">
      <fieldset class="form-group">
  
      <form [formGroup]="auth" (ngSubmit)="getAuth()">

          <label>Identifiant</label> <br>
          <input type="text" class="form-control" formControlName="Name" /> <br>

          <label>Mot de passe</label> <br>
          <input type="password" class="form-control" formControlName="Password" /> <br>

            <button type="submit" class="btn btn-primary" [disabled]="!auth.valid" >Se connecter</button>
       </form>
      </fieldset>
      </div>

      <div class="col-sm">
        {{messageConnexion}}
      </div>
  </div>  
</div>