<div ng-app="sample">
    <form class="form-horizontal" name="modification" [formGroup]="utilisateurmodif" (ngSubmit)="onFormSubmit()">
   
      <div class="form-group">
        <label class="col-md-3 control-label" for="Email">Email</label>
        <div class="col-md-4">
        <input id="Email" type="email" required class="form-control" formControlName="Email" ng-model="Email" />
    <div ng-messages="modification.Email.$error" ng-messages-include="erreurs.html"></div>
    </div>
    </div>
  
    <div class="form-group">
    <label class="col-md-3 control-label" for="MotDePasse">mot de passe</label>
    <div class="col-md-4">
      <input type="password" class="form-control" formControlName="Password" name="MotDePasse"  pPassword />
    <div ng-messages="modification.MotDePasse.$error" ng-messages-include="erreurs.html"></div>
    </div> 
    </div>
  
    <div class="form-group">
      <label class="col-md-3 control-label" for="ConfirmMdp">Confirmer mot de passe</label>
      <div class="col-md-4">
      <input id="ConfirmMdp" type="password" required class="form-control" formControlName="PasswordConfirm" ng-model="ConfirmMdp" />
    <div ng-messages="modification.ConfirmMdp.$error" ng-messages-include="erreurs.html"></div>
    </div>
    </div>
  
    <div class="form-group">
    <div class="col-md-offset-3 col-md-9">
    <button type="submit" class="btn btn-primary">Modifier</button>
    </div>
    </div>
  <div>
    {{userMod}}
  </div>
    </form>
  </div>