
<nav>
  <ul>
    <li class="menu"><a routerLink="EnvoyerMessage">Envoyer un message</a></li>
    <li class="menu"><a href="#">Groupe</a>
      <ul class="submenu">
        <li><a routerLink="/CreerGroupe">Créer un groupe</a></li>
        <li><a href="/AjouterUtilisateurGroupe">Ajouter un utilisateur</a></li>
      </ul>
    </li>
    <li class="menu"><a routerLink="/ModifierUtilisateur">Modifier votre profil</a></li>
    <li class="menu-signin"><a routerLink="/Connexion">Connexion</a></li>
    <li class="menu"><a routerLink="/AjoutUtilisateur">Utilisateur</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>