body{
    font-family: 'Source code pro', Calibri, serif;
    margin: 0px;
    padding: 0px;
}
nav > ul {
    margin: 0px;
    padding: 0px;
}
nav > ul > li{
    float: left;
    position: relative;
}
nav li{
    list-style-type: none;
}
.submenu{
    display: none;
}

nav{
    width: 100%;
    background-color: #424558;
}
nav > ul::after{
    content: "";
    display: block;
    clear: both;
}
nav a{
    display: inline-block;
    text-decoration: none;
}
nav > ul > li > a{
    padding: 20px 30px;
    color: #FFF;
}
nav li:hover .submenu{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;
}
.submenu li{
    border-bottom: 1px solid #CCC;
}
.submenu li a{
    padding: 15px 30px;
    font-size: 13px;
    color: #222538;
    width: 270px;
}
.menu:hover{
    border-top: solid #f1dc4f;
    background-color: rgba(241, 211, 79, 0.15);
}
nav > ul > li:hover a{
    padding: 15px 30px 20px 30px;
}
.menu-signin{
    float: right;
}
.menu-signin:hover{
    border-top: solid #f1dc4f;
    background-color: rgba(241, 211, 79, 0.15);
}