
<div ng-app="sample">
  <form class="form-horizontal" name="inscription" [formGroup]="utilisateur" (ngSubmit)="onFormSubmit()" >

  <div class="form-group">
  <label class="col-md-3 control-label" for="Nom">Nom</label>
  <div class="col-md-4">
  <input id="Nom" type="text" required class="form-control" formControlName="Name" ng-model="Nom" />
  <div ng-messages="inscription.Nom.$error" ng-messages-include="erreurs.html"></div>
  </div>
  </div>

  <div class="form-group">
  <label class="col-md-3 control-label" for="Email">Email</label>
  <div class="col-md-4">
  <input id="Email" type="email" required class="form-control" formControlName="Email" ng-model="Email" />
  <div ng-messages="inscription.Email.$error" ng-messages-include="erreurs.html"></div>
  </div>
  </div>

  <div class="form-group">
  <label class="col-md-3 control-label" for="MotDePasse">mot de passe</label>
  <div class="col-md-4">
  <input type="password" class="form-control" formControlName="Password" name="MotDePasse"  pPassword />
  <div ng-messages="inscription.MotDePasse.$error" ng-messages-include="erreurs.html"></div>
  </div> 
  </div>

  <div class="form-group">
  <label class="col-md-3 control-label" for="ConfirmMdp">Confirmer mot de passe</label>
  <div class="col-md-4">
  <input id="ConfirmMdp" type="password" required class="form-control" formControlName="PasswordConfirm" ng-model="ConfirmMdp" />
  <div ng-messages="inscription.ConfirmMdp.$error" ng-messages-include="erreurs.html"></div>
  </div>
  </div>

  <div class="form-group">
  <div class="col-md-offset-3 col-md-9">
    <button type="submit" class="btn btn-primary">Enregistrer</button>
  </div>
  </div>
  <div>
    {{userAdd}}
  </div>
  </form>
</div>
